# Database - Neon PostgreSQL
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
DIRECT_URL="postgresql://user:password@host/dbname?sslmode=require"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_REFRESH_INTERVAL="60000"

# Optional Redis Cache
REDIS_URL="redis://localhost:6379"

# Albion API
ALBION_API_BASE_URL="https://west.albion-online-data.com/api/v2"
ALBION_API_BASE_URL_EAST="https://east.albion-online-data.com/api/v2"
